<div class="book">
    <a href="books/edit?id=<%=book.id%>">
        <div>
            <h1><%= book.title%></h1>
            <h3>author: <%= book.author%></h3>
            <h4>isbn: <%= book.isbn%></h4>
            <p><%= book.annotation%></p>
        </div>
    </a>
    <form action="/books/delete" method="post">
        <input type="text" value="<%= book.id%>" name="id" hidden>
        <button type="submit">Delete</button>
    </form>
</div>