<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="all-content">
    <%- include('partials/navigation') %>
    <div class="content">
    <h1>Books</h1>
    <div>
        <form action="/books" method="get">
            <select name="sorting" id="sorting">
                <%if(sorting){%>
                <option value="<%=sorting%>" selected hidden>By <%=sorting%></option>
                <%}%>
                <option value="default">By default</option>
                <option value="id">By id</option>
                <option value="title">By title</option>
                <option value="genres">By genres</option>
                <option value="isbn">By isbn</option>
            </select>
            <select name="filter" id="filter">
                <%if(filter){%>
                <option value="<%=filter%>" selected hidden><%=filter%></option>
                <%}%>
                <option value="all">all</option>
                <option value="title">title</option>
                <option value="authors">author</option>
                <option value="genres">genres</option>
                <option value="isbn">isbn</option>
            </select>
            <input type="search" name="search_query" placeholder="Search book" value="<%=searched%>">
            <input type="submit" value="Search">
        </form>
    </div>
    <form action="/books/edit" method="get">
        <button type="submit" id="add_book">Add</button>
    </form>
        <ul class="book_list">
            <% books.forEach(function(book) { %>
                <li class="book_element">
                    <%-include('partials/book_image', {book:book});%>
                    <%-include('partials/book', {book:book});%>
                </li>
            <%}) %>
        </ul>
    </div>
</div>

</body>
<html>